.about-section {
    background-color: #f4f3f3;
    padding: 50px 0px 80px 0px;

    .section-container {
        display: flex;

        .left-side {
            width: 38%;
            margin-right: 2%;

            img {
                width: 100%;
            }
        }

        .right-side {
            width: 58%;
            margin-left: 2%;

            h2 {
                color: #022144;
                font-family: "Poppins",Sans-serif;
                font-size: 42px;
                font-weight: 700;
                text-transform: uppercase;
                margin: 0;
            }

            h4 {
                color: #000;
                font-family: "Poppins",Sans-serif;
                font-size: 20px;
                font-weight: 400;
                letter-spacing: -.2px;
            }

            p {
                font-family: "Poppins",Sans-serif;
                font-weight: 300;
                letter-spacing: -.2px;
                line-height: 1.8;
                margin: 25px 0;
            }
        }
    }
}