.contact-section {
    padding: 60px 0;

    h2 {
        color: #022144;
        font-family: "Poppins",Sans-serif;
        font-size: 42px;
        font-weight: 700;
        text-transform: uppercase;
        line-height: 64px;
        text-align: center;
        margin: 0 0 20px;
    }

    .description {
        text-align: center;
        margin: 0 0 50px;
    }

    .group-form {
        display: inline-flex;
        align-items: center;
        gap: 20px;
        width: 100%;

        > * {
            flex-basis: calc(50%);
        }

        &-item {
            margin-bottom: 20px;

            input, textarea {
                width: 100%;
                box-sizing: border-box;
                padding: 0.5em 1em;
                font-family: 'Poppins', sans-serif;
            }
        }
    }

    .result-section {
        margin-top: 20px;
    }
}